{% extends "layout.html" %}
{% block title %} Home {% endblock %}


{% block page_content %}



<div class="row">
<img class="center-block" src="{{ url_for('static', filename='logo_tp_sm.png') }}" align="left" height="100px">
<h1>teepee -  A TPF Profiler Visualization Tool</h1>

</div>
<div class="spacer50"></div>



</div>
<div class="process">
    <div class="process-row">
        <!--div class="process-step">
            <button type="button" class="btn btn-default btn-circle-2" disabled><img class="img-responsive center-block"
                                                                                     src="{{ url_for('static', filename='logo_sm.png') }}"
                                                                                     align="left"></button>
        </div-->
        <div class="process-step">
            <button type="button" class="btn btn-default btn-circle" onclick="window.location.href='/services/teepee/profiler'"><i
                    class="fa fa-rocket fa-10x"></i></button>
            <h4>Run Profiler</h4>
        </div>
        <div class="process-step">
            <button type="button" class="btn btn-default btn-circle" onclick="window.location.href='/services/teepee/results'"><i
                    class="fas fa-chart-bar fa-10x"></i></button>
            <h4>Visualize Results</h4>
        </div>
        <div class="process-step">
            <button type="button" class="btn btn-default btn-circle"
                    onclick="window.location.href='/services/teepee/results/visualize/compare'"><i
                    class="fas fa-balance-scale fa-10x"></i></button>
            <h4>Compare Results</h4>
        </div>
    </div>
<div class="spacer15"></div>
<div class="spacer15"></div>
<div class="spacer15"></div>
<div class="spacer15"></div>
</div>
<!--a href="https://github.com/Lars-H/tpf_profiler"><i
            class="fab fa-github-square fa-4x"></i></a></div>
</div-->


{% endblock %}