{% extends "layout.html" %}
{% block title %} teepee {% endblock %}


{% block page_content %}



<div class="row">
<img class="center-block" src="{{ url_for('static', filename='logo_tp_sm.png') }}" align="left" height="100px">
    <h1>   teepee - </br>    A Triple Pattern Fragment  Profiler Visualization Tool</h1>

</div>
<div class="spacer50"></div>



</div>
<div class="process " align="centerr">
    <div class="process-row">
        <!--div class="process-step">
            <button type="button" class="btn btn-default btn-circle-2" disabled><img class="img-responsive center-block"
                                                                                     src="{{ url_for('static', filename='logo_sm.png') }}"
                                                                                     align="left"></button>
        </div-->
        <div class="process-step">
            <button type="button" class="btn btn-default btn-circle" onclick="window.location.href='/services/teepee/profiler'">
                <img class="img-responsive center-block" src="{{ url_for('static', filename='logo_lg.png') }}" align="left"><!--i
                    class="fa fa-rocket fa-10x"></i--></button>
            <h4>TPF Profiler</h4>
        </div>
        <div class="process-step">
            <button type="button" class="btn btn-default btn-circle" onclick="window.location.href='/services/teepee/results'"><i
                    class="fas fa-chart-bar fa-10x"></i></button>
            <h4>View Results</h4>
        </div>
        <div class="process-step">
            <button type="button" class="btn btn-default btn-circle"
                    onclick="window.location.href='/services/teepee/results/visualize/compare'"><i
                    class="fas fa-balance-scale fa-10x"></i></button>
            <h4>Compare Results</h4>
        </div>
    </div>
</div>


{% endblock %}